<a href="https://colab.research.google.com/github/leekate/college_project_DeepLearning/blob/main/FaceDetection_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os 
import cv2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **Txt file** to **CSV file**

In [ ]:
class MakeDataFrame:
    
    def __init__(self, txt_file, n_landpoint, csv_name, sav_path):
        self.txt_file = txt_file
        self.n_landpoint = n_landpoint
        self.csv_name = csv_name
        self.sav_path = sav_path
        self.landmark = self.make_col_head()
        
    def make_col_head(self):
        tmp = [n for n in range(1, n_landpoint + 1)]
        tmp.insert(0, 'filename')
        
        col_head = []
        
        for i in tmp:
            if i == 'filename':
                col_head.append(i)
            else:
                x = 'x_' + str(i)
                y = 'y_' + str(i)
                
                col_head.append(x)
                col_head.append(y)
        landmark = pd.DataFrame(columns=col_head)
        
        return landmark
    
    def make_dataframe(self):
        txt_file = self.txt_file
        ncol = 0
        start = 0
        end = (self.n_landpoint * 2) + 1
        
        with open(self.txt_file) as Id:
            data = Id.read()
            
        data = data.split()
        n_row = int(len(data) / end)
        print("데이터 개수: {}".format(n_row))
        
        try:
            for i in range(n_row):
                each_row_data = data[start:end]
                each_row_data[1:] = [float(x) for x in each_row_data[1:]]
                
                self.landmark.loc[ncol] = each_row_data
                ncol += 1
                start += 137
                end += 137
                
        except OSError:
            print('cannot open', txt_file)
                
        except ValueError:
            print("Could not convert data to an float")
                
        else:
            print("There ar {} files in landmark".format(ncol))
                
    def save_csv(self):
        if not os.path.isdir(self.sav_path):
            os.mkdir(self.sav_path)
        name = str(self.csv_name) + '.csv'
        csv_path = os.path.join(self.sav_path, name)
        self.landmark.to_csv(csv_path, index=False)
        
    def get_landmark(self):
        return self.landmark

# Image-> X data, Landmark-> Y data, **make .npy file**

In [ ]:
class MakeNPYfile:
    def __init__(self, img_dir, landmark, sav_path, xname, yname):
        self.img_dir = img_dir
        self.landmark = landmark
        self.sav_path = sav_path
        self.xname = xname
        self.yname = yname
        self.x = []
        self.y = []
        
    def img_to_numpy(self):
        shape = self.landmark.shape
        
        
        for f in range(shape[0]):
            data = list(self.landmark.iloc[f, :].values)
            img_name = data[0]
            
            img_path = os.path.join(self.img_dir, img_name)
            img = cv2.imread(img_path, cv2.IMREAD_COLOR)
            img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
            img = cv2.resize(img, (200, 200))
            
            self.x.append(img)
            self.y.append(data[1:])
            
        self.x = np.array(self.x)
        self.y = np.array(self.y)
        
        print(self.x.shape)
        print(self.y.shape)
        #normalization
        self.x = (self.x.astype(np.float32)) / self.x.max()
        
        #self.y = (np_y.astype(np.float32)) / self.y.max()
        
        return self.x, self.y
    
    def save_npy(self):
        if not os.path.isdir(self.sav_path):
            os.mkdir(self.sav_path)
        self.xname = self.xname + '.npy'
        self.yname = self.yname + '.npy'
        x_path = os.path.join(self.sav_path, self.xname)
        y_path = os.path.join(self.sav_path, self.yname)
        
        np.save(x_path, self.x)
        np.save(y_path, self.y)
        
    def get_x(self):
        return self.x
    
    def get_y(self):
        return self.y

In [ ]:
test_txt = './Project/Label/landmark_list_part2.txt'
test_land_sav_path = './Project/Dataset/Landmark'
test_land_csv = 'test_landmark'

In [ ]:
train_img_dir = './dataset/part1'
test_img_dir = './dataset/part2'

In [ ]:
train_npy_path = './Project/Dataset/Train'
test_npy_path = './Project/Dataset/Test'

train_xname = 'x_train'
train_yname = 'y_train'
test_xname = 'x_test'
test_yname = 'y_test'

# train data

In [ ]:
n_landpoint = 68
train_txt = './Project/Label/landmark_list_part1.txt'
train_land_sav_path = './Project/Dataset/Landmark'
train_land_csv = 'train_landmark'

In [ ]:
train_df = MakeDataFrame(txt_file=train_txt, n_landpoint=68, csv_name=train_land_csv, sav_path=train_land_sav_path)

In [ ]:
train_df.make_col_head()

Empty DataFrame
Columns: [filename, x_1, y_1, x_2, y_2, x_3, y_3, x_4, y_4, x_5, y_5, x_6, y_6, x_7, y_7, x_8, y_8, x_9, y_9, x_10, y_10, x_11, y_11, x_12, y_12, x_13, y_13, x_14, y_14, x_15, y_15, x_16, y_16, x_17, y_17, x_18, y_18, x_19, y_19, x_20, y_20, x_21, y_21, x_22, y_22, x_23, y_23, x_24, y_24, x_25, y_25, x_26, y_26, x_27, y_27, x_28, y_28, x_29, y_29, x_30, y_30, x_31, y_31, x_32, y_32, x_33, y_33, x_34, y_34, x_35, y_35, x_36, y_36, x_37, y_37, x_38, y_38, x_39, y_39, x_40, y_40, x_41, y_41, x_42, y_42, x_43, y_43, x_44, y_44, x_45, y_45, x_46, y_46, x_47, y_47, x_48, y_48, x_49, y_49, x_50, ...]
Index: []

[0 rows x 137 columns]

In [ ]:
train_df.make_dataframe()

데이터 개수: 9780
There ar 9780 files in landmark

In [ ]:
train_land = train_df.get_landmark()

In [ ]:
train_land

,filename,x_1,y_1,x_2,y_2,x_3,y_3,x_4,y_4,x_5,...,x_64,y_64,x_65,y_65,x_66,y_66,x_67,y_67,x_68,y_68
0,1_0_2_20161219140530307.jpg,-4.0,71.0,-4.0,96.0,-3.0,120.0,-1.0,144.0,9.0,...,107.0,136.0,130.0,135.0,108.0,139.0,98.0,140.0,88.0,139.0
1,1_0_2_20161219140525218.jpg,13.0,76.0,13.0,96.0,15.0,117.0,18.0,137.0,25.0,...,102.0,137.0,121.0,141.0,102.0,141.0,94.0,142.0,85.0,143.0
2,1_0_2_20161219140540938.jpg,11.0,62.0,14.0,84.0,18.0,105.0,23.0,127.0,33.0,...,108.0,135.0,135.0,136.0,109.0,147.0,99.0,148.0,90.0,146.0
3,6_1_2_20161219140554092.jpg,36.0,66.0,34.0,86.0,38.0,108.0,45.0,129.0,54.0,...,102.0,140.0,120.0,154.0,104.0,168.0,97.0,167.0,92.0,166.0
4,1_1_2_20161219140604000.jpg,-3.0,60.0,-3.0,85.0,-1.0,110.0,3.0,134.0,12.0,...,109.0,137.0,126.0,141.0,109.0,153.0,98.0,154.0,88.0,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9775,36_0_0_20170112003914754.jpg,37.0,71.0,36.0,91.0,38.0,112.0,43.0,132.0,52.0,...,105.0,141.0,126.0,141.0,105.0,143.0,97.0,145.0,90.0,145.0
9776,31_0_2_20170112003835278.jpg,5.0,63.0,5.0,86.0,7.0,109.0,9.0,132.0,16.0,...,106.0,140.0,125.0,138.0,106.0,138.0,97.0,138.0,89.0,138.0
9777,24_0_2_20170112003933482.jpg,9.0,51.0,11.0,76.0,13.0,100.0,17.0,124.0,26.0,...,106.0,141.0,121.0,142.0,106.0,142.0,99.0,142.0,91.0,142.0
9778,20_1_2_20170112003857668.jpg,26.0,65.0,25.0,87.0,28.0,109.0,34.0,130.0,44.0,...,106.0,141.0,123.0,148.0,107.0,148.0,99.0,149.0,90.0,148.0
9779,19_0_2_20170112003923755.jpg,4.0,52.0,4.0,76.0,6.0,100.0,9.0,124.0,18.0,...,108.0,140.0,124.0,142.0,109.0,141.0,100.0,142.0,91.0,141.0

In [ ]:
name = 'train_landmark' + '.csv'
csv_path = os.path.join('./Project/Landmark', name)
train_land.to_csv(csv_path, index=False)

In [ ]:
train_df.save_csv()

In [ ]:
train_npy = MakeNPYfile(img_dir=train_img_dir, landmark=train_land, sav_path=train_npy_path, xname=train_xname, yname=train_yname)

In [ ]:
x_train, y_train = train_npy.img_to_numpy()

(9780, 200, 200)
(9780, 136)

In [ ]:
train_npy.save_npy()

# test

In [ ]:
test_df = MakeDataFrame(txt_file=test_txt, n_landpoint=68, csv_name=test_land_csv, sav_path=test_land_sav_path)

In [ ]:
test_df.make_col_head()

Empty DataFrame
Columns: [filename, x_1, y_1, x_2, y_2, x_3, y_3, x_4, y_4, x_5, y_5, x_6, y_6, x_7, y_7, x_8, y_8, x_9, y_9, x_10, y_10, x_11, y_11, x_12, y_12, x_13, y_13, x_14, y_14, x_15, y_15, x_16, y_16, x_17, y_17, x_18, y_18, x_19, y_19, x_20, y_20, x_21, y_21, x_22, y_22, x_23, y_23, x_24, y_24, x_25, y_25, x_26, y_26, x_27, y_27, x_28, y_28, x_29, y_29, x_30, y_30, x_31, y_31, x_32, y_32, x_33, y_33, x_34, y_34, x_35, y_35, x_36, y_36, x_37, y_37, x_38, y_38, x_39, y_39, x_40, y_40, x_41, y_41, x_42, y_42, x_43, y_43, x_44, y_44, x_45, y_45, x_46, y_46, x_47, y_47, x_48, y_48, x_49, y_49, x_50, ...]
Index: []

[0 rows x 137 columns]

In [ ]:
test_df.make_dataframe()

데이터 개수: 10719
There ar 10719 files in landmark

In [ ]:
test_land = test_df.get_landmark()

In [ ]:
test_land

,filename,x_1,y_1,x_2,y_2,x_3,y_3,x_4,y_4,x_5,...,x_64,y_64,x_65,y_65,x_66,y_66,x_67,y_67,x_68,y_68
0,1_0_1_20170112211228948.jpg,-5.0,51.0,-4.0,78.0,-1.0,104.0,3.0,127.0,11.0,...,102.0,139.0,112.0,148.0,101.0,151.0,93.0,153.0,85.0,152.0
1,4_1_1_20170112210412852.jpg,-15.0,44.0,-14.0,71.0,-12.0,97.0,-5.0,124.0,9.0,...,103.0,142.0,116.0,139.0,103.0,145.0,98.0,146.0,91.0,147.0
2,4_1_1_20170112210910341.jpg,-9.0,55.0,-8.0,79.0,-4.0,103.0,2.0,123.0,16.0,...,108.0,139.0,117.0,143.0,106.0,146.0,99.0,147.0,92.0,146.0
3,5_0_1_20170112191417872.jpg,14.0,60.0,16.0,83.0,20.0,104.0,27.0,125.0,38.0,...,106.0,139.0,131.0,141.0,106.0,147.0,97.0,148.0,88.0,146.0
4,5_1_1_20170112210544957.jpg,20.0,64.0,22.0,84.0,25.0,105.0,28.0,126.0,35.0,...,106.0,139.0,126.0,141.0,105.0,140.0,96.0,141.0,88.0,140.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10714,90_1_1_20170117194843274.jpg,10.0,46.0,10.0,70.0,13.0,93.0,18.0,115.0,28.0,...,110.0,139.0,134.0,135.0,111.0,147.0,99.0,150.0,86.0,147.0
10715,91_0_1_20170117194736477.jpg,34.0,58.0,35.0,80.0,36.0,102.0,39.0,123.0,45.0,...,108.0,138.0,135.0,139.0,109.0,151.0,97.0,153.0,86.0,151.0
10716,96_1_1_20170117183936388.jpg,16.0,64.0,15.0,85.0,16.0,107.0,20.0,129.0,30.0,...,108.0,140.0,130.0,137.0,109.0,142.0,99.0,144.0,88.0,142.0
10717,99_0_0_20170117195137161.jpg,20.0,60.0,21.0,81.0,24.0,101.0,27.0,121.0,33.0,...,105.0,143.0,125.0,141.0,105.0,138.0,96.0,140.0,89.0,139.0
10718,99_1_2_20170117195405372.jpg,10.0,66.0,13.0,88.0,17.0,110.0,23.0,131.0,33.0,...,109.0,138.0,127.0,140.0,109.0,138.0,100.0,139.0,91.0,139.0

In [ ]:
name = 'train_landmark' + '.csv'
csv_path = os.path.join('./Project/Landmark', name)
train_land.to_csv(csv_path, index=False)

In [ ]:
test_df.save_csv()

In [ ]:
test_npy = MakeNPYfile(img_dir=test_img_dir, landmark=test_land, sav_path=test_npy_path, xname=test_xname, yname=test_yname)

In [ ]:
x_test, y_test = test_npy.img_to_numpy()

(10719, 200, 200)
(10719, 136)

In [ ]:
test_npy.save_npy()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
test, val = train_test_split(test_land, test_size=0.5)

In [ ]:
test.shape

(5359, 137)

In [ ]:
real_test = MakeNPYfile(img_dir=test_img_dir, landmark=test, sav_path=test_npy_path, xname='real_x_test', yname='real_y_test')

In [ ]:
real_x_test, real_y_test = real_test.img_to_numpy()

(5359, 200, 200)
(5359, 136)

In [ ]:
real_test.save_npy()

In [ ]:
val_npy_path = './Project/Dataset/Validation'

In [ ]:
val = MakeNPYfile(img_dir=test_img_dir, landmark=val, sav_path=val_npy_path, xname='x_val', yname='y_val')

In [ ]:
x_val, y_val = val.img_to_numpy()

(5360, 200, 200)
(5360, 136)

In [ ]:
val.save_npy()